.cursive{
    font-family: 'Fauna One', serif;
}
.serif{
    font-family: 'Fauna One', serif;

}

.brown{
    color: #42210B;
}
.bg-brown{
    background-color: #42210B;
}
.bg-lightBrown{
    background-color:#ddb892;
}
.bg-darkBrown{
    background-color: #582f0e;
}

body{
    /* background-color: #ffc8dd; */
    font-family: 'Poppins', sans-serif;

    /* background-color: #ddb892; */
}


.satisfy{
    font-family: 'Satisfy', cursive;
}

.lightBrown{
    color:#ddb892;
}
